# Build folders
cmake-build-debug/
cmake-build-release/
build/

# IDE/editor files
.idea/
.vscode/

# Generated outputs folder
outputs/*


# OS-specific junk
.DS_Store

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Third-party repositories
external/riemann_book/